<h2 class="text-xl md:text-2xl pl-8 font-bold mb-4">Lister de mes compétences :</h2>
<div  data-aos="slide-left" data-aos-duration="2500" class="grid grid-cols-1 md:grid-cols-2 gap-6 p-6">
    <!-- Carte Études -->
    <div [ngClass]="darkMode ? 'bg-gray-800 text-white shadow-gray-900 border-l-4 border-blue-500' 
                             : 'bg-white text-black shadow-md border-l-4 border-blue-500'"
         class="rounded-xl p-6 font-bold transition transform hover:scale-105">
      <h2 class="text-lg"> Études</h2>
      <ul class="mt-2 space-y-1 text-base font-normal">
        <li>Licence Base de Données & Génie Logiciel — Mention Assez Bien (2025)</li>
        <li>Baccalauréat Série D (2021)</li>
        <li>Baccalauréat Série A2 (2020)</li>
      </ul>
    </div>
  
    <!-- Carte Langages & Web -->
    <div [ngClass]="darkMode ? 'bg-gray-800 text-white shadow-gray-900 border-l-4 border-blue-500' 
                             : 'bg-white text-black shadow-md border-l-4 border-blue-500'"
         class="rounded-xl p-6 font-bold transition transform hover:scale-105">
      <h2 class="text-lg"> Langages & Web</h2>
      <ul class="mt-2 space-y-1 text-base font-normal">
        <li>HTML, CSS, TailwindCSS</li>
        <li>Java, C#</li>
        <li>Java Swing (Desktop)</li>
      </ul>
    </div>
  
    <!-- Carte Frameworks -->
    <div [ngClass]="darkMode ? 'bg-gray-800 text-white shadow-gray-900 border-l-4 border-blue-500' 
                             : 'bg-white text-black shadow-md border-l-4 border-blue-500'"
         class="rounded-xl p-6 font-bold transition transform hover:scale-105">
      <h2 class="text-lg"> Frameworks</h2>
      <ul class="mt-2 space-y-1 text-base font-normal">
        <li>Frontend : Angular</li>
        <li>Backend : Spring Boot, ASP.NET</li>
      </ul>
    </div>
  
    <!-- Carte Bases de données -->
    <div [ngClass]="darkMode ? 'bg-gray-800 text-white shadow-gray-900 border-l-4 border-blue-500' 
                             : 'bg-white text-black shadow-md border-l-4 border-blue-500'"
         class="rounded-xl p-6 font-bold transition transform hover:scale-105">
      <h2 class="text-lg"> Bases de données</h2>
      <ul class="mt-2 space-y-1 text-base font-normal">
        <li>MySQL</li>
        <li>PostgreSQL</li>
      </ul>
    </div>
  </div>
  