<app-loading [loading]="loading" [darkMode]="darkMode"></app-loading>

<div *ngIf="!loading">
  <div 
  [ngClass]="darkMode 
    ? 'min-h-screen flex flex-col md:flex-row items-center justify-between bg-black text-white' 
    : 'min-h-screen flex flex-col md:flex-row items-center justify-between bg-white text-black'"
  class="w-full max-w-full overflow-hidden">


    <!-- Texte -->
    <div data-aos="slide-right" data-aos-duration="1500"
        class="md:w-1/2 text-center md:text-left space-y-4 px-4 pt-8 pb-2 md:py-0"
        style="max-width: 100%;">
      
      <h1 class="mt-5 text-2xl sm:text-3xl md:text-4xl lg:text-5xl font-bold">
        Bonjour, je suis <br class="block sm:hidden" />
        <span class="text-blue-600 block sm:inline">Herinirina Mendrika Fitiavana</span>
      </h1>
      
      <p class="text-base sm:text-xl md:text-2xl font-bold">
        Étudiant en Master 1 à l'université de CNTEMAD, passionné par la programmation en Java.
      </p>

      <!-- Boutons -->
      <div class="flex flex-col sm:flex-row gap-3 justify-center md:justify-start">
        <a href="assets/cv.pdf" download 
           class="px-4 sm:px-6 py-2 sm:py-3 border border-blue-500 text-blue-500 hover:bg-gradient-to-r from-teal-400 via-cyan-500 to-blue-600 hover:text-white rounded-full text-sm sm:text-base transition duration-300">
          Télécharger CV
        </a>
        <a href="#contact" 
           class="px-4 sm:px-6 py-2 sm:py-3 border border-blue-500 text-blue-500 hover:bg-gradient-to-r from-teal-400 via-cyan-500 to-blue-600 hover:text-white rounded-full text-sm sm:text-base transition duration-300">
          Mes contacts
        </a>
      </div>
    </div>

    <!-- Image -->
    <div data-aos="slide-left" data-aos-duration="1500"
    class="md:w-1/2 flex justify-center px-4 pt-2 pb-4 md:py-0"
    style="max-width: 100%;">
     
      <img [src]="currentImage" alt="Photo Mendrika"
           class="w-64 h-64 sm:w-72 sm:h-72 md:w-96 md:h-96 rounded-full object-cover shadow-lg border-4 border-blue-500"
           style="border-radius: 50% !important; object-fit: cover; max-width: 100%;"
           (mouseenter)="onMouseEnter()" 
           (mouseleave)="onMouseLeave()" />
    </div>
  </div>
</div>