<div class="flex justify-between items-center px-4 py-2 shadow-sm"
     [ngClass]="darkMode ? 'bg-gray-900 text-white' : 'bg-white text-black'">

  <h1 class="font-bold">Dashboard Mendrika</h1>

  <div class="flex items-center gap-4">
    <button (click)="onToggle()">
      <i [ngClass]="darkMode ? 'fas fa-sun' : 'fas fa-moon'"></i>
    </button>

    <div class="flex items-center gap-2">
      <img *ngIf="user?.photoUrl" 
           [src]="'http://localhost:5023' + user?.photoUrl" 
           alt="Photo" 
           class="w-8 h-8 rounded-full">
 
      <span>{{ user?.nom }}</span>
      <span>role : {{ user?.role }}</span>
    </div>
  </div>
</div>
