<div [ngClass]="darkMode ? 'bg-black text-white min-h-screen' : 'bg-white text-black min-h-screen'">

  <app-topbar></app-topbar>
  
  <div style="padding-top: 80px; width: 100%;">
    <app-scroll-icons [darkMode]="darkMode"></app-scroll-icons>
    
    <section id="accueil" class="h-auto md:min-h-screen" style="padding-top: 30px; margin-top: -30px;">
      <app-accueil></app-accueil>
    </section>
    
    <section id="competence" style="padding-top: 30px; margin-top: -30px; min-height: 100vh;">
      <app-competence></app-competence>
    </section>
    
    <section id="projet" style="padding-top: 30px; margin-top: -30px; min-height: 100vh;">
      <app-projet></app-projet>
    </section>
    
    <section id="contact" style="padding-top: 30px; margin-top: -30px; min-height: 100vh;">
      <app-contact></app-contact>
    </section>
  </div>
</div>