<div [ngClass]="darkMode ? 'bg-black text-white min-h-screen' : 'bg-white text-black min-h-screen'">

  <!-- Topbar fixe -->
  <app-topbar></app-topbar>
  
  <!-- Contenu avec padding-top -->
  <div style="padding-top: 80px; width: 100%;">
    <app-scroll-icons [darkMode]="darkMode"></app-scroll-icons>
    
    <section id="accueil" class="pt-20" style="padding-top: 30px; margin-top: -30px; min-height: 100vh;">
      <app-accueil></app-accueil>
    </section>
    
    <section id="competence" style="padding-top: 30px; margin-top: -30px; min-height: 100vh;">
      <app-competence></app-competence>
    </section>
    
    <section id="projet" style="padding-top: 30px; margin-top: -30px; min-height: 100vh;">
      <app-projet></app-projet>
    </section>
    
    <section id="contact" style="padding-top: 30px; margin-top: -30px; min-height: 100vh;">
      <app-contact></app-contact>
    </section>
  </div>
</div>