<div class="flex h-screen" [ngClass]="darkMode ? 'bg-gray-900 text-white' : 'bg-gray-100 text-black'">
  <div class="w-64" [ngClass]="darkMode ? 'bg-gray-800' : 'bg-white'">
    <app-sidebar></app-sidebar>
  </div>
  <div class="flex-1 flex flex-col">
    <app-topbar></app-topbar>
    <div class="w-full px-4 py-2" [ngClass]="darkMode ? 'bg-gray-800' : 'bg-gray-200'">
      <app-searchbar *ngIf="showSearchBar"></app-searchbar>
    </div>
    
    <div class="flex-1 overflow-auto p-6">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
